.footer {
  background-color: #f7f7f7;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.footer-text {
  text-align: center;

  color: #545454;

  margin-bottom: 10px;
}

.text-second-line {
  display: block;
}

.footer-modal-btn-open {
  border: none;
  padding: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer-modal-btn-decaration {
  text-decoration: underline;
}
