.footer {
  background-color: #f7f7f7;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.footer-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
  text-align: center;

  color: #545454;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    margin-bottom: 0;
  }
}

.pice1 {
  margin-right: 10px;
}

.pice2 {
  margin-right: 10px;
}

.pice4 {
  text-decoration: underline;
  cursor: pointer;
}
