.gallery-content {
  margin-right: auto;
  margin-left: auto;
  width: 280px;

  @media screen and (min-width: 768px) {
    width: 704px;
  }

  @media screen and (min-width: 1280px) {
    width: 1217px;
  }
}
.gallery {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    gap: 32px;
  }

  @media screen and (min-width: 768px) {
    gap: 32px 16px;
  }
}

.gallery__item {
  width: 280px;
  @media screen and (min-width: 768px) {
    width: 336px;
  }

  @media screen and (min-width: 1280px) {
    width: 395px;
  }
}

.gallery__item:hover .gallery__thumb {
  cursor: pointer;
  transform: scale(1.01);
}

.gallery:hover > .gallery__item:not(:hover) > .gallery__thumb {
  filter: blur(8px) brightness(0.95) saturate(0) contrast(0.9);
}

.gallery__thumb {
  overflow: hidden;
  height: 398px;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  transition: 250ms;
  @media screen and (min-width: 768px) {
    height: 455px;
  }
  @media screen and (min-width: 1280px) {
    height: 574px;
  }
}

/* .gallery__thumb > img {
  width: 100%;
  height: 100%;
} */

.gallery__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: black;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &:hover {
    text-overflow: clip;
  }

  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 24px;
  }
}

.gallery__text {
  font-size: 12px;
  line-height: 16px;
  color: #ff6b08;
  white-space: nowrap;
  overflow: hidden;

  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 24px;
  }
}

.gallery__label {
  display: none;
}

/* .gallery__label.label-lb{
  display: inline;
} */
