.header {
  height: 230px;
  margin-bottom: 60px;
  background-image: url('../images/mobile/background-mobile.jpg');

  @media screen and (min-width: 768px) {
    height: 216px;
    background-image: url('../images/laptop/background-laptop.jpg');
  }

  @media screen and (min-width: 1280px) {
    background-image: url('../images/desktop/background-desktop.jpg');
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 54px;

    @media screen and (min-width: 768px) {
      margin-bottom: 40px;
    }
  }
}

.logo-link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-link > img {
  height: 24px;
  @media screen and (min-width: 768px) {
    margin-right: 8px;
  }
}
.nav-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;

  &.active {
    border-bottom: 3px solid #ff001b;
  }
}
.nav-link:first-child {
  margin-right: 40px;
}

.logo-text {
  display: none;

  @media screen and (min-width: 768px) {
    display: inline;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #ffffff;
  }
}

.search-form {
  position: relative;
  @media screen and (min-width: 768px) {
    width: 336px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
}

.shearch-text {
  border: none;
  display: block;
  border-bottom: 0.5px solid #ffffff;
  width: 100%;
  background: transparent;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  color: #ffffff;

  &::placeholder {
    color: #ffffff;
  }
}

.search {
  position: absolute;
  top: 0;
  right: 0;
  height: 12px;
  width: 12px;
  background: inherit;
  border: none;
  cursor: pointer;
}

.search-icon {
  fill: #ffffff;
}

.filter-thumb {
  display: flex;
  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}

.filter {
  display: none;
}

.filter + label {
  display: inline-block;
  width: 130px;
  border-radius: 5px;
  padding: 14px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #fff;
  color: #ffffff;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  @media screen and (min-width: 768px) {
    width: 152px;
    padding: 13px;
  }

  @media screen and (min-width: 1280px) {
    width: 148px;
  }
}

.filter:checked + label {
  background-color: #ff6b01;
  border: none;
}

.filter:first-child + label {
  margin-right: 20px;
}

.error-search-message {
  text-align: center;
  color: #ff001b;
  font-size: 14px;
  line-height: 16px;
}
