.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  background: inherit;
  padding: 0;
}
.modal {
  left: 50%;
  transform: translateX(-50%) scale(1);
  width: 280px;
  height: 940px;
  position: relative;
  padding: 48px 20px 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #000000;
  background-color: #ffffff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0.8);
  }

  @media screen and(min-width:768px) {
    width: 704px;
    height: 552px;
    padding: 40px 36px;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
  }

  @media screen and (min-width: 1280px) {
    width: 806px;
    height: 558px;
    padding: 40px 12px;
  }
}
.modal-content {
  display: block;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.modal-backdrop-img {
  width: 240px;
  height: 358px;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    width: 264px;
    height: 374px;
    margin-right: 68px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1280px) {
    width: 375px;
    height: 478px;
    margin-right: 16px;
  }
}

.modal-description {
  margin-bottom: 20px;
}
.table {
  width: 100%;
}
.modal-title {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 23px;
  text-align: left;

  text-transform: uppercase;

  @media screen and (min-width: 1280px) {
    font-size: 30px;
  }
}
.row {
  margin-bottom: 8px;
}

.table-head {
  width: 108px;
  line-height: 16px;
  color: #8c8c8c;

  @media screen and (min-width: 768px) {
    width: 120px;
  }
}
.table-value {
  line-height: 16px;
}
.vote {
  display: inline-block;
  width: 36px;
  border-radius: 5px;
  text-align: center;
}
.vote.average {
  color: #ffffff;
  background: #ff6b01;
}
.vote.count {
  background: #f7f7f7;
}
.about-wrapper {
  overflow-y: auto;
  margin-bottom: 20px;
  width: 240px;
  height: 220px;
  @media screen and (min-width: 768px) {
    width: 264px;
    height: 260px;
  }

  @media screen and (min-width: 1280px) {
    width: 391px;
    height: 184px;
  }
}
.about {
  text-transform: uppercase;
  line-height: 16px;
}
.overview {
  line-height: 20px;
}
.buttons {
  display: flex;
  justify-content: center;

  @media screen and (min-width: 768px) {
    justify-content: start;
  }
}
.button {
  width: 110px;
  height: 44px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
  border: none;

  @media screen and (min-width: 768px) {
    width: 126px;
  }

  @media screen and (min-width: 1280px) {
    width: 136px;
  }
}
.watched {
  margin-right: 20px;
  color: #ffffff;
  background: #ff6b01;
}
.queue {
  border: 1px solid #000;
  background-color: inherit;
}
