<div class="header container">
  <div class="navigation">
    <a href="./index.html" class="link logo-link">
      <img src="./images/logo.png" alt="" width="24" />
      <span class="logo-text">Filmoteka</span>
    </a>

    <nav>
      <a href="./index.html" class="link nav-link">Home</a>
      <a href="my-library.html" class="link nav-link active">My Library</a>
    </nav>
  </div>
  <div class="filter-thumb">
    <input
      type="radio"
      id="choiceFilter1"
      class="filter"
      name="favorite"
      checked
    />
    <label for="choiceFilter1">Watched</label>

    <input type="radio" id="choiceFilter2" class="filter" name="queue" />
    <label for="choiceFilter2">Queue</label>
  </div>
</div>
