<section class="header container">
  <div class="navigation">
    <a href="./index.html" class="link logo-link">
      <img src="./images/logo.png" alt="" width="24" />
      <span class="logo-text">Filmoteka</span>
    </a>

    <nav>
      <a href="./index.html" class="link nav-link active">Home</a>
      <a href="./my-library.html" class="link nav-link">My Library</a>
    </nav>
  </div>
  <form action="" class="search-form">
    <input
      class="shearch-text"
      type="text"
      placeholder="Movie search"
      name="search"
    />
    <button type="submit" class="search">
      <svg
        class="search-icon"
        width="12"
        height="12"
        aria-label="Search button"
      >
        <use href="./images/icons.svg#icon-search"></use>
      </svg>
    </button>
  </form>
  <p class="error-search-message is-hidden">
    Search result not successful. Enter the correct movie name and
  </p>
</section>
